<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer-fragment">
    <section class="footer-links-section">
        <div class="wrap">
            <div class="links">
                <div class="link">
                    <p class="link-title"><b>About</b> us</p>
                    <ul>
                        <li>Contact</li>
                        <li>Our partners</li>
                        <li>Advertising Online</li>
                        <li>Site Map</li>
                    </ul>
                </div>
                <div class="link">
                    <p class="link-title"><b>Need</b> Help?</p>
                    <ul>
                        <li>How do I add an offer?</li>
                        <li>How do I find a vehicle</li>
                        <li>Price list</li>
                        <li>Office for car dealers</li>
                    </ul>
                </div>
                <div class="link">
                    <p class="link-title"><b>User</b> area</p>
                    <ul>
                        <li>Add an offer</li>
                        <li>Register dealder</li>
                        <li>Login Dealer</li>
                        <li>News</li>
                    </ul>
                </div>
                <div class="link">
                    <p class="link-title"><b>Find</b> us here</p>
                    <div class="hrefs">
                        <div class="link-icon-box"><i class="facebook icon"></i></div>
                        <div class="link-icon-box"><i class="google icon"></i></div>
                        <div class="link-icon-box"><i class="twitter icon"></i></div>
                    </div>
                    <p style="font-size: .75rem;">Become our fan, and we will love you forever</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="wrap">
            <div class="footer-text">
                <p>© 2012 Automarket. All Rights Reserved</p>
                <p>Webdesign by ClaPat Studio</p>
            </div>
        </div>
    </footer>
</th:block>
</body>
</html>