<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer-fragment">
    <section class="footer-links-section">
        <div class="wrap">
            <div class="links">
                <div class="link">
                    <p class="link-title"><b>Про</b> нас</p>
                    <ul>
                        <li>Контакти</li>
                        <li>Наші партнери</li>
                        <li>Онлайн-реклама</li>
                        <li>Карта сайту</li>
                    </ul>
                </div>
                <div class="link">
                    <p class="link-title"><b>Потрібна</b> допомога?</p>
                    <ul>
                        <li>Як додати нове оголошення?</li>
                        <li>Як знайти оголошення?</li>
                        <li>Каталог оголошень</li>
                        <li>Наш офіс</li>
                    </ul>
                </div>
                <div class="link">
                    <p class="link-title"><b>Зона</b> користувача</p>
                    <ul>
                        <li><a th:href="@{/postOffer}">Додати оголошення</a></li>
                        <li><a th:href="@{/register}">Зареєструватись</a></li>
                        <li><a th:href="@{/login}">Авторизуватись</a></li>
                        <li><a th:href="@{/profile}">Профіль</a></li>
                    </ul>
                </div>
                <div class="link">
                    <p class="link-title"><b>Знайти</b> нас тут</p>
                    <div class="hrefs">
                        <div class="link-icon-box"><i class="facebook icon"></i></div>
                        <div class="link-icon-box"><i class="google icon"></i></div>
                        <div class="link-icon-box"><i class="twitter icon"></i></div>
                    </div>
                    <p style="font-size: .75rem;">Приєднуйтесь до нас! Ми раді кожному!</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="wrap">
            <div class="footer-text">
                <p>© 2021 PogMarket. Всі права захищено</p>
                <p>Webdesign by uniloftsky</p>
            </div>
        </div>
    </footer>
</th:block>
</body>
</html>