<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="header-fragment">
    <header>
        <div class="wrap">
            <div class="header-in">
                <div class="title-box">
                    <div class="title">
                        <p><a href="/index" style="color: unset;"><b>POG</b>MARKET</a></p>
                    </div>
                    <div class="subtitle">
                        <p><b>Лідер техніки</b></p>
                    </div>
                </div>
                <div class="title-box">
                    <div th:class="${#authorization.expression('isAuthenticated()') ? 'inner-box' : 'inner-box-anonymous'}" class="inner-box inner-box-anonymous">
                        <i class="user secret icon" style="color: #2185D0;"></i>
                        <a th:href="@{/profle(login=${#request.userPrincipal.name})}" sec:authorize="${isAuthenticated()}" sec:authentication="name" style="color: #bcbcbc; font-weight: 600;"></a>
                        <p sec:authorize="${isAnonymous()}" style="color: #bcbcbc; font-weight: 600;"><a href="/login">Авторизуватись</a></p>
                    </div>
                    <div sec:authorize="${isAuthenticated()}" class="inner-box">
                        <form id="logout-form" th:action="@{/logout}" method="post">
                        </form>
                        <i class="power off icon" style="color: #969DAC;"></i>
                        <p id="logout-form-button" style="font-weight: 400; color: #bcbcbc; cursor: pointer;"><a>Вийти</a></p>
                    </div>
                </div>
                <div class="title-box">
                    <button class="ui primary button" onclick="window.location='/postOffer';">
                        <i class="plus icon"></i>ОГОЛОШЕННЯ
                    </button>
                    <div class="ui dropdown button">
                        <div class="text">СТОРІНКИ</div>
                        <div class="menu">
                            <div class="item"><a href="/index">Головна</a></div>
                            <div class="item"><a href="/catalog">Каталог</a></div>
                            <div class="item"><a href="/postOffer">Додати оголошення</a></div>
                            <div class="item"><a th:href="@{/profile(login=${#authentication.name})}">Профіль</a></div>
                            <div class="divider"></div>
                            <div class="item">
                                <i class="laptop icon"></i>
                                <a href="/admin">Адмін-панель</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="subheader">
        <div class="wrap">
            <div class="subheader-items">
                <div class="subheader-inner">
                    <div class="menu-item">
                        <i class="cogs icon"></i>
                        <p>ПОБУТОВА ТЕХНІКА</p>
                    </div>
                    <div class="menu-item">
                        <i class="keyboard icon"></i>
                        <p>ВИСОК. ТЕХНІКА</p>
                    </div>
                </div>
                <div class="subheader-inner" style="width: 70%;">
                    <div class="ui left icon input search-input">
                        <input style="display: inline-block; width: 100%;" type="text" placeholder="Пошук...">
                        <i class="search icon"></i>
                    </div>
                    <button class="ui primary button search-button">
                        <i class="hidden search icon"></i>Пошук
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script>
    var form = document.getElementById("logout-form");

    document.getElementById("logout-form-button").addEventListener("click", function () {
        form.submit();
    });
    $(document).ready(function () {
        $('.ui.dropdown').dropdown({
            action: 'select'
        });
    });
</script>
</body>
</html>