<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <title>Оренда побутової техніки - Авторизація</title>
</head>
<body>
<th:block th:insert="~{fragments/header-fragment}"></th:block>
<main style="z-index: 0; position: relative;">
    <section class="page-title-section">
        <div class="wrap">
            <p class="page-title"><b>Каталог</b> техніки</p>
            <div class="ui breadcrumb">
                <a class="section" href="/index">Головна</a>
                <i class="right angle icon divider"></i>
                <a class="section" href="/catalog">Каталог</a>
            </div>
        </div>
    </section>

    <section class="catalog-section">
        <div class="wrap">
            <div class="catalog-section-in">
                <div class="filter-section">
                    <p class="page-title"><b>Фільтр</b></p>
                    <form th:action="@{catalogFilter}" method="get">
                        <div class="filter">
                            <div class="filter-in">
                                <label>Тип:</label>
                                <select id="type_select" class="ui dropdown not-select" name="type.typeName">
                                    <option value="">Тип</option>
                                    <option th:each="type : ${typeList}" th:text="${type.typeName}"
                                            name="type.typeName">Male
                                    </option>
                                </select>
                            </div>
                            <div class="filter-in">
                                <label>Категорія:</label>
                                <select id="category_select" class="ui dropdown not-select" name="category.categoryName" th:selected="${#request.getAttribute('category.categoryName')}">
                                    <option value="">Категорія</option>
                                    <option th:each="category : ${categoryList}" th:text="${category.categoryName}"
                                            name="category.categoryName">Male
                                    </option>
                                </select>
                            </div>
                            <div class="filter-in">
                                <div class="filter-in-flex">
                                    <div class="filter-in-in">
                                        <label>Мін.ціна:</label>
                                        <div class="ui input">
                                            <input type="number" placeholder="Min" name="minPrice">
                                        </div>
                                    </div>
                                    <div class="filter-in-in">
                                        <label>Макс.ціна:</label>
                                        <div class="ui input">
                                            <input type="number" placeholder="Max" name="maxPrice">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="ui labeled icon primary button" style="width: 100%; margin-top: .5em;">
                            <i class="search icon"></i>
                            Пошук
                        </button>
                    </form>
                </div>
                <div class="catalog">
                    <div th:if="${catalogItems.isEmpty()}" class="ui negative message">
                        <p>За вашими критеріями не знайдено жодного оголошення</p>
                    </div>
                    <div class="pagination-block" th:if="${not catalogItems.isEmpty() and maxPage > 1}">
                        <div class="ui pagination menu">
                            <a class="item" th:if="${currentPage != 0}"
                               th:href="@{/catalogFilter(size=8, pageNumber=0, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"><i
                                    class="angle double left icon"></i></a>
                            <a class="item" th:if="${currentPage != 0}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage - 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"><i
                                    class="angle left icon"></i></a>
                            <a class="item" th:if="${currentPage - 2 >= 0}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage - 2}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${(currentPage + 1) - 2}">3</a>
                            <a class="item" th:if="${currentPage - 1 >= 0}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage - 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${(currentPage + 1) - 1}">2</a>
                            <a class="active item"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${currentPage + 1}">1</a>
                            <a class="item" th:if="${currentPage + 1 <= maxPage - 1}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage + 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${(currentPage + 1) + 1}"></a>
                            <a class="item" th:if="${currentPage + 2 <= maxPage - 1}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage + 2}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${(currentPage + 1) + 2}"></a>
                            <a class="item" th:if="${currentPage != maxPage - 1}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage + 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"><i
                                    class="angle right icon"></i></a>
                            <a class="item" th:if="${currentPage != maxPage - 1}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${maxPage - 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"><i
                                    class="angle double right icon"></i></a>
                        </div>
                    </div>
                    <div class="catalog-items">
                        <div class="catalog-item" th:each="item : ${catalogItems}">
                            <div class="catalog-item-img-block">
                                <img class="catalog-item-img" src="" th:src="${'img/' + item.img.get(0)}" alt="">
                            </div>
                            <div class="catalog-item-info">
                                <div class="catalog-item-header">
                                    <p class="catalog-item-title"><b th:text="${item.name}">Холодильник SAMSUNG
                                        RB29FSRNDSA/UA</b></p>
                                    <p class="catalog-item-price" th:text="${item.price + ' грн.'}">11499 грн.</p>
                                </div>
                                <div class="catalog-item-main">
                                    <p class="catalog-item-punkt" th:text="${item.category.type.typeName}">Пункт1</p>
                                    <p class="catalog-item-punkt" th:text="${item.category.categoryName}">Пункт2</p>
                                </div>
                                <div class="catalog-item-footer">
                                    <p class="catalog-item-location" th:text="${item.location}">м. Бердичів, вул.
                                        Соборна, 18</p>
                                    <a class="catalog-item-href" th:href="@{/offer(id = ${item.id})}">Докладніше <i
                                            class="ong arrow alternate right icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-block" th:if="${not catalogItems.isEmpty() and maxPage > 1}">
                        <div class="ui pagination menu">
                            <a class="item" th:if="${currentPage != 0}"
                               th:href="@{/catalogFilter(size=8, pageNumber=0, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"><i
                                    class="angle double left icon"></i></a>
                            <a class="item" th:if="${currentPage != 0}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage - 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"><i
                                    class="angle left icon"></i></a>
                            <a class="item" th:if="${currentPage - 2 >= 0}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage - 2}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${(currentPage + 1) - 2}">3</a>
                            <a class="item" th:if="${currentPage - 1 >= 0}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage - 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${(currentPage + 1) - 1}">2</a>
                            <a class="active item"
                               th:href="@{/catalogFilter(size=2, pageNumber=${currentPage}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${currentPage + 1}">1</a>
                            <a class="item" th:if="${currentPage + 1 <= maxPage - 1}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage + 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${(currentPage + 1) + 1}"></a>
                            <a class="item" th:if="${currentPage + 2 <= maxPage - 1}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage + 2}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"
                               th:text="${(currentPage + 1) + 2}"></a>
                            <a class="item" th:if="${currentPage != maxPage - 1}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${currentPage + 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"><i
                                    class="angle right icon"></i></a>
                            <a class="item" th:if="${currentPage != maxPage - 1}"
                               th:href="@{/catalogFilter(size=8, pageNumber=${maxPage - 1}, type.typeName=${#request.getParameter('type.typeName')}, category.categoryName=${#request.getParameter('category.categoryName')})}"><i
                                    class="angle double right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('#header-dropdown').dropdown({
            action: 'select'
        });
    });
</script>
</body>
</html>