<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <title>Оренда побутової техніки - Авторизація</title>
</head>
<body>
<th:block th:insert="~{fragments/header-fragment}"></th:block>
<main style="z-index: 0; position: relative;">
    <section class="page-title-section">
        <div class="wrap">
            <p class="page-title"><b>Останні</b> оголошення</p>
            <div class="last-offers">
                <div class="left-offer">
                    <div class="left-offer-img-block">
                        <img th:src="@{/images/items/fridge2.webp}" class="left-offer-img" alt="">
                    </div>
                    <div class="left-offer-info">
                        <p class="left-offer-title">Mercedes-Benz CLS 320</p>
                        <p class="left-offer-price">54980 грн.</p>
                    </div>
                </div>
                <div class="right-offers">
                    <div class="right-offer">
                        <div class="right-offer-img-block">
                            <img th:src="@{/images/items/fridge2.webp}" class="right-offer-img" alt="">
                        </div>
                        <div class="right-offer-info">
                            <p class="right-offer-title">Mercedes-Benz CLS 320</p>
                            <p class="right-offer-price">54980 грн.</p>
                        </div>
                    </div>
                    <div class="right-offer">
                        <div class="right-offer-img-block">
                            <img th:src="@{/images/items/fridge2.webp}" class="right-offer-img" alt="">
                        </div>
                        <div class="right-offer-info">
                            <p class="right-offer-title">Mercedes-Benz CLS 320</p>
                            <p class="right-offer-price">54980 грн.</p>
                        </div>
                    </div>
                    <div class="right-offer">
                        <div class="right-offer-img-block">
                            <img th:src="@{/images/items/fridge2.webp}" class="right-offer-img" alt="">
                        </div>
                        <div class="right-offer-info">
                            <p class="right-offer-title">Mercedes-Benz CLS 320</p>
                            <p class="right-offer-price">54980 грн.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section">
        <div class="wrap">
            <div class="first-buttons">
                <div class="main-button">
                    <div class="main-button-info">
                        <div class="search-icon">
                            <i class="search icon"></i>
                        </div>
                        <div class="main-text">
                            <p class="main-text-title"><b>Шукаєте</b> техніку?</p>
                            <p class="main-text-body">1.000 нових оголошень кожного дня. 35.000 оголошень на сайті</p>
                        </div>
                    </div>
                    <div class="main-search-button">
                        <button class="ui button">Шукати</button>
                    </div>
                </div>
                <div class="main-button">
                    <div class="main-button-info">
                        <div class="search-icon">
                            <i class="search icon"></i>
                        </div>
                        <div class="main-text">
                            <p class="main-text-title"><b>Бажаєте</b> здати в аренду техніку?</p>
                            <p class="main-text-body">1.000 нових оголошень кожного дня. 35.000 оголошень на сайті</p>
                        </div>
                    </div>
                    <div class="main-search-button">
                        <button class="ui button">Здати</button>
                    </div>
                </div>
            </div>
            <div class="main-links">
                <div class="main-link">
                    <p class="main-link-title"><b>Популярні</b> статьї</p>
                    <div class="main-link-articles">
                        <div class="main-link-article">
                            <p class="article-title">Here are many variations of passages of Lorem Ipsum..</p>
                            <a class="article-more">Read more <i class="ong arrow alternate right icon"></i></a>
                        </div>
                        <div class="main-link-article">
                            <p class="article-title">Here are many variations of passages of Lorem Ipsum..</p>
                            <a class="article-more">Read more <i class="ong arrow alternate right icon"></i></a>
                        </div>
                    </div>
                </div>
                <div class="main-link">
                    <p class="main-link-title"><b>Car</b> dealers</p>
                    <div class="main-link-dealers">
                        <div class="main-link-dealer">
                            <div class="dealer-left">
                                <i class="circle icon"></i>
                                <p class="dealer-name">Dealer</p>
                            </div>
                            <p class="dealer-right">162 offers</p>
                        </div>
                        <div class="main-link-dealer">
                            <div class="dealer-left">
                                <i class="circle icon"></i>
                                <p class="dealer-name">Dealer</p>
                            </div>
                            <p class="dealer-right">162 offers</p>
                        </div>
                        <div class="main-link-dealer">
                            <div class="dealer-left">
                                <i class="circle icon"></i>
                                <p class="dealer-name">Dealer</p>
                            </div>
                            <p class="dealer-right">162 offers</p>
                        </div>
                        <div class="main-link-dealer">
                            <div class="dealer-left">
                                <i class="circle icon"></i>
                                <p class="dealer-name">Dealer</p>
                            </div>
                            <p class="dealer-right">162 offers</p>
                        </div>
                    </div>
                </div>
                <div class="main-link">
                    <p class="main-link-title"><b>Отримувати</b> свіжі пропозиції</p>
                    <div class="daily-email">
                        <div class="ui input">
                            <input type="text" placeholder="Email here">
                        </div>
                        <p class="daily-email-note">
                            Ви будете отримувати нові пропозиції, щойно вони з'являться на сайті.
                        </p>
                        <div class="subscribe-email">
                            <button class="ui primary button">
                                ПІДПИСАТИСЬ
                            </button>
                            <p class="subscribe-email-counter">
                                15000+ тих, хто підписався
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.dropdown')
            .dropdown();
    });
</script>
</body>
</html>