<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <title>Оренда побутової техніки - Авторизація</title>
</head>
<body>
<th:block th:insert="~{fragments/header-fragment}"></th:block>
<main style="z-index: 0; position: relative;">
    <section class="page-title-section">
        <div class="wrap">
            <div class="offer-header">
                <div class="offer-header-info">
                    <p class="page-title"><b>Холодильник</b></p>
                    <div class="ui breadcrumb">
                        <a class="section" href="/index">Головна</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/offer">Холодильник</a>
                    </div>
                </div>
                <div class="offer-header-id">
                    <p class="id-text">ID оголошення: 12345</p>
                </div>
            </div>
        </div>
    </section>
    <section class="offer-section">
        <div class="wrap">
            <div class="offer-section-header">
                <div class="offer-section-header-img-block">
                    <img class="offer-section-img" th:src="@{images/items/fridge4.webp}">
                </div>
                <div class="offer-section-header-info">
                    <p class="offer-price">54.980 EURO</p>
                    <div class="offer-info-details">
                        <div class="offer-info-detail">
                            <p class="offer-detail-name">Категорія</p>
                            <p class="offer-detail-info">Car</p>
                        </div>
                        <div class="offer-info-detail">
                            <p class="offer-detail-name">Тип</p>
                            <p class="offer-detail-info">Car1</p>
                        </div>
                        <div class="offer-info-detail">
                            <p class="offer-detail-name">Розташування</p>
                            <p class="offer-detail-info">location</p>
                        </div>
                    </div>
                    <div class="similar-sell-block">
                        <p class="similar-sell-text">Бажаєте здати в аренду?</p>
                        <a href="">+ ДОДАТИ ОГОЛОШЕННЯ</a>
                    </div>

                    <div class="offer-map">
                        <p class="offer-map-title"><b>Розташування</b> на карті</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41126.13730243615!2d28.56422373451863!3d49.89160152266436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472cf987459e4d1f%3A0xfed4d70ca7c66999!2z0JHQtdGA0LTQuNGH0LXQsiwg0JbQuNGC0L7QvNC40YDRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMTMzMDk!5e0!3m2!1sru!2sua!4v1613477371517!5m2!1sru!2sua"
                                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="offer-section-main">
                <div class="offer-section-main-info">
                    <p class="offer-section-main-title"><b>Інформація</b> про оголошення</p>
                    <p class="offer-section-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet fringilla metus, a ultricies ligula consequat at. Maecenas eget massa at eros ornare rhoncus.
                        In sit amet enim risus, in mattis felis. Donec lorem arcu, tempor quis fermentum et, viverra in turpis. Nam non nunc vitae justo tincidunt lobortis eu sit amet dui. Nam ut dui aliquet nisl fermentum mollis sit amet eget lectus. Vivamus iaculis massa sit amet velit convallis aliquam. Vestibulum dolor erat, congue nec viverra eget, aliquet sit amet nunc. Donec vitae arcu orci.</p>
                </div>
            </div>
            <div class="offer-section-main">
                <div class="offer-section-main-info">
                    <p class="offer-section-main-title"><b>Контакти</b> власника</p>
                    <div class="contact-details">
                        <div class="contact-detail">
                            <div class="contact-detail-icon">
                                <i class="phone icon"></i>
                            </div>
                            <p class="contact-detail-text">
                                0040 742 016 756
                            </p>
                        </div>
                        <div class="contact-detail">
                            <div class="contact-detail-icon">
                                <i class="envelope icon"></i>
                            </div>
                            <p class="contact-detail-text">Зв'язатись через email</p>
                        </div>
                        <div class="contact-detail">
                            <div class="contact-detail-icon">
                                <i class="map marker alternate icon"></i>
                            </div>
                            <p class="contact-detail-text">
                                Berlin, Germany, nr. 250330, main street
                            </p>
                        </div>
                        <div class="contact-detail">
                            <div class="contact-detail-icon">
                                <i class="user icon"></i>
                            </div>
                            <p class="contact-detail-text">
                                http://www.dealer.automarket.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-section-main">
                <p class="offer-section-main-title"><b>Інші</b> оголошення</p>
                <div class="other-offers-block">
                    <div class="other-offers">
                        <div class="right-offer offer-page">
                            <div class="right-offer-img-block">
                                <img th:src="@{/images/items/fridge2.webp}" class="right-offer-img" alt="">
                            </div>
                            <div class="right-offer-info">
                                <p class="right-offer-title">Mercedes-Benz CLS 320</p>
                                <p class="right-offer-price">54980 грн.</p>
                            </div>
                        </div>
                        <div class="right-offer offer-page">
                            <div class="right-offer-img-block">
                                <img th:src="@{/images/items/fridge2.webp}" class="right-offer-img" alt="">
                            </div>
                            <div class="right-offer-info">
                                <p class="right-offer-title">Mercedes-Benz CLS 320</p>
                                <p class="right-offer-price">54980 грн.</p>
                            </div>
                        </div>
                        <div class="right-offer offer-page">
                            <div class="right-offer-img-block">
                                <img th:src="@{/images/items/fridge2.webp}" class="right-offer-img" alt="">
                            </div>
                            <div class="right-offer-info">
                                <p class="right-offer-title">Mercedes-Benz CLS 320</p>
                                <p class="right-offer-price">54980 грн.</p>
                            </div>
                        </div>
                        <div class="right-offer offer-page">
                            <div class="right-offer-img-block">
                                <img th:src="@{/images/items/fridge2.webp}" class="right-offer-img" alt="">
                            </div>
                            <div class="right-offer-info">
                                <p class="right-offer-title">Mercedes-Benz CLS 320</p>
                                <p class="right-offer-price">54980 грн.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.dropdown')
            .dropdown();
    });
</script>
</body>
</html>