<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <title>Оренда побутової техніки - Авторизація</title>
</head>
<body>
<th:block th:insert="~{fragments/header-fragment}"></th:block>
<main style="z-index: 0; position: relative;">
    <section class="page-title-section">
        <div class="wrap">
            <div class="offer-header">
                <div class="offer-header-info">
                    <p class="page-title"><b>Оформлення оренди</b></p>
                    <div class="ui breadcrumb">
                        <a class="section" href="/index">Головна</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" th:href="@{/catalog}">Каталог</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" th:href="@{/offer(id=${offer.id})}" th:text="${offer.name}"></a>
                        <i class="right angle icon divider"></i>
                        <a class="section" th:href="@{/order(id=${offer.id})}">Оформлення оголошення</a>
                    </div>
                </div>
                <div class="offer-header-id">
                    <p class="id-text">ID оголошення: <span th:text="${offer.id}"></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="order-section">
        <div class="wrap">
            <div class="ui blue message">
                <p><b>Інструкція щодо оформлення оренди</b></p>
                <p>Якщо ви знайшли бажану техніку і хочете оформити оренду, слідуйте наступним крокам:</p>
                <ul class="order-instruction">
                    <li>Оформіть оренду на сайті</li>
                    <li>Зв'яжіться із власником техніки за допомогою номера телефону або напишіть йому на електронну пошту</li>
                    <li>Узгодьте методи оплати і транспортування побутової техніки</li>
                </ul>
            </div>
            <div class="order-information">
                <p class="input-block-title"><b>Інформація</b> про замовлення</p>
                <div class="ui items">
                    <div class="item">
                        <div class="ui small image">
                            <img src="/images/wireframe/image.png" th:src="${'img/' + offer.img}">
                        </div>
                        <div class="content">
                            <div class="header" th:text="${offer.name}">Холодильник Самсунг</div>
                            <div class="meta">
                                <span class="price" th:text="${offer.price}">5000 грн</span>
                                <span class="stay" th:text="${offer.category.categoryName}">Холодильники</span>
                            </div>
                            <div class="description" th:text="${offer.description}" style="white-space: pre-line;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet fringilla metus, a ultricies ligula consequat at. Maecenas eget massa at eros ornare rhoncus. In sit amet enim risus, in mattis felis. Donec lorem arcu, tempor quis fermentum et, viverra in turpis. Nam non nunc vitae justo tincidunt lobortis eu sit amet dui. Nam ut dui aliquet nisl fermentum mollis sit amet eget lectus. Vivamus iaculis massa sit amet velit convallis aliquam. Vestibulum dolor erat, congue nec viverra eget, aliquet sit amet nunc. Donec vitae arcu orci.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form th:action="@{/makeOrder}" method="post">
                    <input type="hidden" name="userOwner" th:value="${offer.user.login}">
                    <input type="hidden" name="userBuyer" th:value="${#authentication.name}">
                    <input type="hidden" name="itemId" th:value="${offer.id}">
                    <button type="submit" th:class="${offer.active ? 'ui green button' : 'ui disabled button'}" th:text="${offer.active ? 'Підтвердити замовлення' : 'Оформлено'}">Підтвердити замовлення</button>
                </form>

            </div>
        </div>

    </section>
</main>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('#header-dropdown').dropdown({
            action: 'select'
        });
    });
</script>
</body>
</html>