<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <title>Оренда побутової техніки - Авторизація</title>
</head>
<body>
<th:block th:insert="~{fragments/header-fragment}"></th:block>
<main style="z-index: 0; position: relative;">
    <section class="page-title-section">
        <div class="wrap">
            <p class="page-title"><b>Додавання</b> оголошення</p>
            <div class="ui breadcrumb">
                <a class="section" href="/index">Головна</a>
                <i class="right angle icon divider"></i>
                <a class="section" href="/postOffer">Додавання оголошення</a>
            </div>
        </div>
    </section>

    <section class="post-offer-section">
        <div class="wrap">
            <div class="input-block">
                <p class="input-block-title"><b>Item</b> data</p>
                <div class="input-block-in">
                    <div class="input-block-inner">
                        <label>Type: <span class="required-color">*</span></label>
                        <select class="ui dropdown">
                            <option value="">Gender</option>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>
                    <div class="input-block-inner">
                        <label>Category: <span class="required-color">*</span></label>
                        <select class="ui corner labeled dropdown">
                            <option value="">Gender</option>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>
                    <div class="input-block-inner">
                        <label>Location: <span class="required-color">*</span></label>
                        <div class="ui input">
                            <input type="text" placeholder="Location">
                        </div>
                    </div>
                </div>

            </div>
            <div class="input-block">
                <p class="input-block-title"><b>Item</b> description</p>
                <div class="input-block-in">
                    <div class="input-block-inner full-width">
                        <div class="ui form">
                            <label>Description: <span class="required-color">*</span></label>
                            <div class="field">
                                <textarea style="resize: none"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="input-block">
                <p class="input-block-title"><b>Item</b> price</p>
                <div class="input-block-in">
                    <div class="input-block-inner">
                        <label>Price: <span class="required-color">*</span></label>
                        <div class="ui input">
                            <input type="number" placeholder="Price">
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-block">
                <p class="input-block-title"><b>Item</b> photo</p>
                <div class="input-block-in">
                    <div class="input-block-inner">
                        <label>Photo: <span class="required-color">*</span></label>
                        <div class="ui action input">
                            <input id="imageText" type="text" placeholder="Photo" readonly>
                            <input id="imageUpload" type="file">
                            <div id="imageButton" class="ui icon button">
                                <i class="attach icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-block-buttons">
                <button class="ui green button">Submit</button>
                <button class="ui primary button">Preview</button>
            </div>
        </div>
    </section>

</main>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<script type="text/javascript">
    $("#imageText").click(function () {
        $(this).parent().find("#imageUpload").click();
        });

    $("#imageButton").click(function () {
        $(this).parent().find("#imageUpload").click();
        });

    $('input:file', '.ui.action.input')
        .on('change', function (e) {
            var name = e.target.files[0].name;
            $('input:text', $(e.target).parent()).val(name);
        });

    var calendarOpts = {
        type: 'date',
        formatter: {
            date: function (date, settings) {
                if (!date) return '';
                var day = date.getDate() + '';
                if (day.length < 2) {
                    day = '0' + day;
                }
                var month = (date.getMonth() + 1) + '';
                if (month.length < 2) {
                    month = '0' + month;
                }
                var year = date.getFullYear();
                return year + '-' + month + '-' + day;
            }
        }
    };
    $('#datefield').calendar(calendarOpts);
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
    });
</script>
</body>
</html>