<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <title>Оренда побутової техніки - Авторизація</title>
</head>
<body>
<th:block th:insert="~{fragments/header-fragment}"></th:block>
<main style="z-index: 0; position: relative;">
    <section class="page-title-section">
        <div class="wrap">
            <p class="page-title"><b>Додавання</b> оголошення</p>
            <div class="ui breadcrumb">
                <a class="section" href="/index">Головна</a>
                <i class="right angle icon divider"></i>
                <a class="section" href="/postOffer">Додавання оголошення</a>
            </div>
        </div>
    </section>

    <section class="post-offer-section">
        <div class="wrap">
            <form th:action="@{/postOffer}" method="post" th:object="${offer}" enctype="multipart/form-data">
                <div class="input-block">
                    <p class="input-block-title"><b>Інформація</b> про оголошення</p>
                    <div class="input-block-inner" style="width: 100%; margin-bottom: 1em;">
                        <label th:errorclass="label-error" name="name">Назва: <span class="required-color">*</span></label>
                        <div class="ui input" th:errorclass="error" name="name" style="width: 100%;">
                            <input type="text" placeholder="Назва" name="name" th:field="*{name}">
                        </div>
                        <div th:if="${#fields.hasErrors('name')}" class="ui pointing red basic label">
                            <ul style="padding-left: 1em;">
                                <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-block-in">
                        <div class="input-block-inner">
                            <label>Тип: <span class="required-color">*</span></label>
                            <select id="type_select" class="ui dropdown">
                                <option value="">Тип</option>
                                <option value="1" th:each="type : ${typeList}" th:text="${type.typeName}" th:class="${type.typeName}" th:value="${type.typeName}">Male</option>
                            </select>
                        </div>
                        <div class="input-block-inner">
                            <label th:errorclass="label-error" name="category">Категорія: <span class="required-color">*</span></label>
                            <select id="category_select" class="ui corner labeled dropdown" th:errorclass="error" name="category.id" th:field="*{category}">
                                <option value="">Категорія</option>
                                <option th:each="category : ${categoryList}" th:text="${category.categoryName}" th:class="${category.type.typeName}" th:value="${category.id}">Male</option>
                            </select>
                            <div th:if="${#fields.hasErrors('category')}" class="ui pointing red basic label">
                                <ul style="padding-left: 1em;">
                                    <li th:each="err : ${#fields.errors('category')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="input-block-inner">
                            <label th:errorclass="label-error" name="location">Розташування: <span class="required-color">*</span></label>
                            <div class="ui input" th:errorclass="error" name="location">
                                <input type="text" placeholder="Розташування" th:field="*{location}">
                            </div>
                            <div th:if="${#fields.hasErrors('location')}" class="ui pointing red basic label">
                                <ul style="padding-left: 1em;">
                                    <li th:each="err : ${#fields.errors('location')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-block">
                    <p class="input-block-title"><b>Опис</b> оголошення</p>
                    <div class="input-block-in">
                        <div class="input-block-inner full-width">
                            <div class="ui form">
                                <label th:errorclass="label-error" name="description">Опис: <span class="required-color">*</span></label>
                                <div class="field" th:errorclass="error" name="description">
                                    <textarea style="resize: none" th:field="*{description}"></textarea>
                                </div>
                                <div th:if="${#fields.hasErrors('description')}" class="ui pointing red basic label">
                                    <ul style="padding-left: 1em;">
                                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-block">
                    <p class="input-block-title"><b>Ціна</b> оголошення</p>
                    <div class="input-block-in">
                        <div class="input-block-inner">
                            <label th:errorclass="label-error" name="price">Ціна: <span class="required-color">*</span></label>
                            <div class="ui input" th:errorclass="error" name="price">
                                <input type="number" placeholder="Ціна" th:field="*{price}">
                            </div>
                            <div th:if="${#fields.hasErrors('price')}" class="ui pointing red basic label">
                                <ul style="padding-left: 1em;">
                                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-block">
                    <p class="input-block-title"><b>Зображення</b> оголошення</p>
                    <div class="input-block-in">
                        <div class="input-block-inner">
                            <label th:class="${fileError ? 'label-error' : ''}">Зображення: <span class="required-color">*</span></label>
                            <div class="ui action input" th:class="${fileError ? 'ui action input error' : 'ui action input'}">
                                <input id="imageText" type="text" placeholder="Фото" readonly>
                                <input id="imageUpload" type="file" name="itemImage" multiple="multiple">
                                <div id="imageButton" class="ui icon button">
                                    <i class="attach icon"></i>
                                </div>
                            </div>
                            <div th:if="${fileError}" class="ui pointing red basic label">
                                Оберіть зображення
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-block-buttons">
                    <button type="submit" class="ui green button">Підтвердити</button>
                </div>
            </form>
        </div>
    </section>

</main>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<script type="text/javascript">
    $("#imageText").click(function () {
        $(this).parent().find("#imageUpload").click();
    });

    $("#imageButton").click(function () {
        $(this).parent().find("#imageUpload").click();
    });

    $('input:file', '.ui.action.input')
        .on('change', function (e) {
            var name;
            var name1;
            var name2;
            if(e.target.files.length == 1) {
                name = e.target.files[0].name;
                $('input:text', $(e.target).parent()).val(name);
            } else if(e.target.files.length == 2) {
                name = e.target.files[0].name;
                name1 = e.target.files[1].name;
                $('input:text', $(e.target).parent()).val(name + ', ' + name1);
            } else {
                name = e.target.files[0].name;
                name1 = e.target.files[1].name;
                name2 = e.target.files[2].name;
                $('input:text', $(e.target).parent()).val(name + ', ' + name1 + ', ' + name2);
            }
        });
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('#header-dropdown').dropdown({
            action: 'select'
        });
    });
</script>
<script th:src="@{/js/chainedselect.js}" type="text/javascript"></script>
</body>
</html>