<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <title>Оренда побутової техніки - Профіль</title>
</head>
<body>
<th:block th:insert="~{fragments/header-fragment}"></th:block>
<main>
    <section class="page-title-section">
        <div class="wrap">
            <div class="offer-header">
                <div class="offer-header-info">
                    <p class="page-title"><b>Профіль</b></p>
                    <div class="ui breadcrumb">
                        <a class="section" href="/index">Головна</a>
                        <i class="right angle icon divider"></i>
                        <a class="section" href="/offer">Профіль</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="catalog-section">
        <div class="wrap">
            <div class="catalog-section-in">
                <div class="filter-section profile-filter">
                    <p class="page-title profile-page-title"><b>Інформація</b> користувача</p>
                    <div class="filter">
                        <div class="profile-in">
                            <h2 class="ui header">
                                <i class="user icon"></i>
                                <div class="content">
                                    Персональна інформація
                                </div>
                            </h2>
                            <div class="profile-information">
                                <p class="profile-text">Прізвище: <b th:text="${user.lastName}">Кулик</b></p>
                                <p class="profile-text">Ім'я: <b th:text="${user.firstName}">Антон</b></p>
                            </div>
                        </div>
                        <div class="profile-in">
                            <h2 class="ui header">
                                <i class="comment icon"></i>
                                <div class="content">
                                    Контакти
                                </div>
                            </h2>
                            <div class="profile-information">
                                <div class="profile-information-in">
                                    <div class="profile-icon-box">
                                        <i class="envelope icon"></i>
                                    </div>
                                    <p class="profile-text">Пошта: <b th:text="${user.email}">mail@mail.ru</b></p>
                                </div>
                                <div class="profile-information-in">
                                    <div class="profile-icon-box">
                                        <i class="phone icon"></i>
                                    </div>
                                    <p class="profile-text">Телефон: <b th:text="${user.phone}">380971279332</b></p>
                                </div>
                                <div class="profile-information-in">
                                    <div class="profile-icon-box">
                                        <i class="map marker alternate icon"></i>
                                    </div>
                                    <p class="profile-text">Розташування: <b>м. Бердичів, вул. Соборна, 18</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="profile-in">
                            <h2 class="ui header" style="display: flex;">
                                <i class="file alternate icon"></i>
                                <div class="content">
                                    Додатково
                                </div>
                            </h2>
                            <div class="profile-information">
                                <p class="profile-text">Логін: <b th:text="${user.login}">login</b></p>
                                <p class="profile-text">Дата реєстрації: <b th:text="${user.registerDate}">20.02.2020</b></p>
                            </div>
                        </div>
                    </div>
                    <button onclick="window.location = '/editProfile';" th:if="${#request.getParameter('login') == #authentication.name}" class="ui labeled icon primary button">
                        <i class="edit icon"></i>
                        Edit
                    </button>
                </div>
                <div class="profile-section">
                    <div class="ui top attached tabular menu">
                        <a class="item active" data-tab="first">Поточні оголошення</a>
                        <a class="item" data-tab="second">Історія оголошень</a>
                    </div>
                    <div class="ui bottom attached tab segment active" data-tab="first">
                        <div th:if="${currentItems.isEmpty()}" class="ui negative message">
                            <p>Не знайдено жодного оголошення
                            </p>
                        </div>
                        <div class="catalog-items profile-items">
                            <div class="catalog-item" th:each="item : ${currentItems}">
                                <div class="catalog-item-img-block">
                                    <img class="catalog-item-img" src="" th:src="${'img/' + item.img}" alt="">
                                </div>
                                <div class="catalog-item-info">
                                    <div class="catalog-item-header">
                                        <p class="catalog-item-title"><b th:text="${item.name}">Холодильник SAMSUNG
                                            RB29FSRNDSA/UA</b></p>
                                        <p class="catalog-item-price" th:text="${item.price + ' грн.'}">11499 грн.</p>
                                    </div>
                                    <div class="catalog-item-main">
                                        <p class="catalog-item-punkt" th:text="${item.category.type.typeName}">Пункт1</p>
                                        <p class="catalog-item-punkt" th:text="${item.category.categoryName}">Пункт2</p>
                                    </div>
                                    <div class="catalog-item-footer">
                                        <p class="catalog-item-location" th:text="${item.location}">м. Бердичів, вул.
                                            Соборна, 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="second">
                        <div th:if="${rentingHistory.isEmpty()}" class="ui negative message" style="margin-bottom: 0">
                            <p>Не знайдено жодного оголошення
                            </p>
                        </div>
                        <div class="catalog-items profile-items">
                            <div class="catalog-item" th:each="renting : ${rentingHistory}">
                                <div class="catalog-item-img-block">
                                    <img class="catalog-item-img" src="" th:src="${'img/' + renting.img}" alt="">
                                </div>
                                <div class="catalog-item-info">
                                    <div class="catalog-item-header">
                                        <p class="catalog-item-title"><b th:text="${renting.name}">Холодильник SAMSUNG
                                            RB29FSRNDSA/UA</b></p>
                                        <p class="catalog-item-price" th:text="${renting.price + ' грн.'}">11499 грн.</p>
                                    </div>
                                    <div class="catalog-item-main">
                                        <p class="catalog-item-punkt" th:text="${renting.category.type.typeName}">Пункт1</p>
                                        <p class="catalog-item-punkt" th:text="${renting.category.categoryName}">Пункт2</p>
                                    </div>
                                    <div class="catalog-item-footer">
                                        <p class="catalog-item-location" th:text="${renting.location}">м. Бердичів, вул.
                                            Соборна, 18</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.dropdown').dropdown({
            action: 'select'
        });
        $('.menu .item')
            .tab()
        ;
    });
</script>
</body>
</html>