<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <title>Оренда побутової техніки - Авторизація</title>
</head>
<body>
<th:block th:insert="~{fragments/header-fragment}"></th:block>
<main style="z-index: 0; position: relative;">
    <section class="page-title-section">
        <div class="wrap">
            <p class="page-title"><b>Авторизація</b> у профіль</p>
            <div class="ui breadcrumb">
                <a class="section" href="/index">Головна</a>
                <i class="right angle icon divider"></i>
                <a class="section" href="/login">Авторизація</a>
            </div>
        </div>
    </section>

    <section class="login-form-section">
        <div class="login-form-block">
            <p class="login-form-title"><b>Авторизація</b> у профіль</p>
            <form class="ui form login-form" th:action="@{/login}" method="post">
                <div class="form-login-inputs">
                    <div class="form-login-input">
                        <div class="field" style="margin-bottom: .5em;">
                            <label>Логін</label>
                        </div>
                        <div class="ui left icon input" style="width: 100%;">
                            <input type="text" placeholder="Логін" name="username" value="login">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="form-login-input">
                        <div class="field" style="margin-bottom: .5em;">
                            <label>Пароль</label>
                        </div>
                        <div class="ui left icon input" style="width: 100%;">
                            <input type="password" placeholder="Пароль" name="password" value="123456">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                </div>
                <div class="ui buttons">
                    <button type="submit" class="ui labeled icon primary button login-button">
                        <i class="sign in alternate icon"></i>
                        УВІЙТИ
                    </button>
                    <div class="or hidden-or" data-text="or"></div>
                    <button type="button" onclick="window.location='/register';" id="register-btn" class="ui right labeled icon positive button login-button">
                        <i class="user plus icon"></i>
                        РЕЄСТРАЦІЯ
                    </button>
                </div>
            </form>
            <div th:if="${registered == true}" class="ui positive message">
                <div class="header">
                    Ви успішно зареєструвались
                </div>
                <p>Використайте <b>форму вище</b> для авторизації.</p>
            </div>
            <div th:if="${param.error}">
                <p th:text="${param.error}">Помилка</p>
                <p>жопа</p>
            </div>
        </div>

    </section>

</main>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('#header-dropdown').dropdown({
            action: 'select'
        });
    });
</script>
</body>
</html>