<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="wrap">
        <div class="wrap flex">
            <div class="title-box">
                <div class="title">
                    <p><b>AUTO</b>MARKET</p>
                </div>
                <div class="subtitle">
                    <p><b>THIS IS A TITLE</b></p>
                </div>
            </div>
            <div class="title-box">
                <div class="inner-box">
                    <i class="user secret icon" style="color: #2185D0;"></i>
                    <p style="color: #bcbcbc; font-weight: 600;">Login</p>
                </div>
                <div class="inner-box">
                    <i class="power off icon" style="color: #969DAC;"></i>
                    <p style="font-weight: 400; color: #bcbcbc;">Sign out</p>
                </div>
            </div>
            <div class="title-box">
                <button class="ui primary button" style="margin-right: 1.5em;">
                    <i class="plus icon"></i>ADD AN OFFER
                </button>
                <button class="ui button">
                    PAGES
                </button>
            </div>
        </div>
    </div>
</header>
<div class="subheader">
    <div class="wrap flex" style="align-items: center;">
        <div class="subheader-inner" style="width: 25%;">
            <div class="menu-item active">
                <i class="car icon"></i>
                <p>CARS</p>
            </div>
            <div class="menu-item">
                <i class="motorcycle icon"></i>
                <p>BIKES</p>
            </div>
        </div>
        <div class="subheader-inner" style="width: 70%;">
            <div class="ui input"
                 style="display: inline-block; width: 80%; margin-right: 1em; background-color: #F3F3F3; padding: .25em;">
                <input style="display: inline-block; width: 100%;" type="text" placeholder="Search...">
            </div>
            <button class="ui primary button">
                <i class="search icon"></i>Search
            </button>
        </div>
    </div>
</div>
<main style="z-index: -2; position: relative;">
    <section class="page-title-section">
        <div class="wrap">
            <p class="page-title"><b>Vehicle</b> Insurance</p>
            <p class="page-path">Home <i class="angle double right icon"></i> Vehicle Insurance</p>
        </div>
    </section>
</main>
<section class="footer-links-section">
    <div class="wrap flex">
        <div class="link">
            <p class="link-title"><b>About</b> us</p>
            <ul>
                <li>Contact</li>
                <li>Our partners</li>
                <li>Advertising Online</li>
                <li>Site Map</li>
            </ul>
        </div>
        <div class="link">
            <p class="link-title"><b>Need</b> Help?</p>
            <ul>
                <li>How do I add an offer?</li>
                <li>How do I find a vehicle</li>
                <li>Price list</li>
                <li>Office for car dealers</li>
            </ul>
        </div>
        <div class="link">
            <p class="link-title"><b>User</b> area</p>
            <ul>
                <li>Add an offer</li>
                <li>Register dealder</li>
                <li>Login Dealer</li>
                <li>News</li>
            </ul>
        </div>
        <div class="link">
            <p class="link-title"><b>Find</b> us here</p>
            <div>
                <div style="display: flex; margin-bottom: 1em;">
                    <div class="link-icon-box"><i class="facebook icon"></i></div>
                    <div class="link-icon-box"><i class="google icon"></i></div>
                    <div class="link-icon-box"><i class="twitter icon"></i></div>
                </div>
                <p style="font-size: .75rem;">Become our fan, and we will love you forever</p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="wrap flex">
        <p>© 2012 Automarket. All Rights Reserved</p>
        <p>Webdesign by ClaPat Studio</p>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<!--<script type="text/javascript">-->
<!--    $(document).ready(function(){-->
<!--        $('.ui.accordion').accordion();-->
<!--        $('.button')-->
<!--            .popup({-->
<!--                inline: true-->
<!--            })-->
<!--        ;-->
<!--    });-->
<!--</script>-->
</body>
</html>