<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="http://fonts.cdnfonts.com/css/w95fa" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<style>
    #draggable {
        display: none;
        top: 50%;
        left: 50%;
    }

    .title-bar-text,
    .window-body p {
        font-family: 'W95FA', sans-serif;
    }
</style>
<body>
<nav class="admin-menu">
    <div class="ui dropdown dropdown98">
        <div class="text">File</div>
        <div class="menu menu98">
            <div class="item item98 click">New</div>
            <div class="item item98">
                <span class="description">ctrl + o</span>
                Open...
            </div>
            <div class="item item98">
                <span class="description">ctrl + s</span>
                Save as...
            </div>
            <div class="item item98">
                <span class="description">ctrl + r</span>
                Rename
            </div>
        </div>
    </div>
    <div class="ui dropdown dropdown98">
        <div class="text">File</div>
        <div class="menu menu98">
            <div class="item item98 click">New</div>
            <div class="item item98">
                <span class="description">ctrl + o</span>
                Open...
            </div>
            <div class="item item98">
                <span class="description">ctrl + s</span>
                Save as...
            </div>
            <div class="item item98">
                <span class="description">ctrl + r</span>
                Rename
            </div>
        </div>
    </div>
    <div class="ui dropdown dropdown98">
        <div class="text">File</div>
        <div class="menu menu98">
            <div class="item item98 click">New</div>
            <div class="item item98">
                <span class="description">ctrl + o</span>
                Open...
            </div>
            <div class="item item98">
                <span class="description">ctrl + s</span>
                Save as...
            </div>
            <div class="item item98">
                <span class="description">ctrl + r</span>
                Rename
            </div>
        </div>
    </div>
</nav>

<!--<a href="#" class="click">click me</a>-->
<div id="draggable" class="window" style="width: 300px">
    <div class="title-bar" style="padding: 1em .25em 1em .25em;">
        <div class="title-bar-text">A Window With Stuff In It</div>
        <div class="title-bar-controls">
            <button aria-label="Maximize" class="maximize"></button>
            <button aria-label="Close" class="close"></button>
        </div>
    </div>
    <div class="window-body">
        <p>There's so much room for activities!</p>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.ui.dropdown').dropdown({
            action: 'select'
        });
    });
    var x, y;
    $('.click').click(function () {
        $('#draggable').show();
        $('#draggable').draggable({
            handle: ".title-bar"
        });
    });
    $('.close').click(function () {
        $('#draggable').hide();
    });
    var active = false;

    $('.maximize').click(function () {
        active = !active;
        if (active) {
            $('#draggable').css("width", "100vw").css("height", "98vh").draggable({disabled: true}).css("top", "0").css("left", "0");
        } else {
            $('#draggable').css("width", "300px").css("height", "100px").draggable({disabled: false});
        }
    })
</script>
</body>
</html>