* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrap {
    max-width: 980px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #414141;
    padding: .75em;
}

footer {
    background-color: #414141;
    padding: .5em;
}

footer p {
    margin-bottom: 0;
    color: #bcbcbc;
    font-size: .75rem;
}

.header-in {
    display: flex;
    justify-content: space-between;
}

.subheader {
    box-shadow: 0 1px 3px gray;
    z-index: 1;
    position: relative;
    padding: 0 .75em 0 .75em;
}

.title-box {
    color: white;
    display: flex;
    align-items: center;
}

.title {
    font-size: 2rem;
    border-right: 1px solid #575757;
    padding-right: 1em;
}

.subtitle {
    color: #A5A2A5;
    border-left: 1px solid #2e2e2e;
    padding: .74em 0 .74em 1em;
}

.inner-box {
    display: flex;
    align-items: baseline;
}

.inner-box:first-child {
    border-right: 1px solid #575757;
    padding: .5em 1em .5em 0;
}

.inner-box:last-child {
    border-left: 1px solid #2e2e2e;
    padding: .5em 0 .5em 1em;
}

.subheader-inner {
    display: flex;
    margin-left: 1em;
}

.subheader-items {
    display: flex;
    align-items: center;
}

.menu-item {
    min-height: 78px;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    box-shadow: 0 0 1px lightgray inset;
    color: #47484c;
    cursor: pointer;
}

.menu-item:first-child {
    border-right: 0;
}

.menu-item i {
    margin-bottom: .25em;
    font-size: 1.25rem;
    color: #989898;
}

.menu-item p {
    font-weight: 600;
}

.active i {
    color: #2185D0;
}

.active {
    background-color: #F5F5F5;
}

.menu-item:hover {
    background-color: #F5F5F5;
}

.menu-item:hover i {
    color: #2185D0;
}

.page-title-section {
    background-color: #F7F3F7;
    z-index: -1;
    padding: 2.5em 1em 2.5em;
}

.page-title {
    font-size: 1.75rem;
    margin-bottom: .25em;
}

.page-path {
    font-size: .75rem;
}

.footer-links-section {
    background-color: #F2F2F2;
    padding: 2.5em;
    margin-top: auto;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link-title {
    font-size: 1.2rem;
}

.link ul {
    list-style: none;
}

.link ul li {
    font-size: .75rem;
    margin-bottom: .25em;
}

.link ul li:last-child {
    margin-bottom: 0;
}

.link i {
    font-size: 2rem;
    margin-right: 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
}

.link-icon-box {
    background-color: white;
    display: flex;
    margin-right: 1em;
    border-radius: 10%;
    box-shadow: 0 1px 3px silver;
}

.link i:hover {
    color: #2185D0;
}

.login-form-section {
    min-height: 45vh;
    display: flex;
    flex-direction: column;
}

.login-form-block {
    padding: 1.5em;
    background-color: #F2F2F2;
    max-width: 600px;
    width: 60%;
    margin: auto auto;
}

.login-form-title {
    font-size: 1.5rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-button {
    width: 30%;
}

.hrefs {
    display: flex;
    margin-bottom: 1em;
}

.ui.buttons .or:before {
    background-color: #F2F2F2;
}

.title-box .ui.primary {
    margin-right: 1.5em;
}

.search-input {
    display: inline-block;
    width: 79%;
    margin-right: 1em;
    background-color: #F3F3F3;
    padding: .25em;
}

.search-button {
    width: 20%;
    margin-right: 0;
}

.form-login-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.form-login-input {
    width: 48%;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

/* media queries */

@media screen and (max-width: 844px) {
    .header-in {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .title-box {
        margin-bottom: 1.5em;
        width: 100%;
        justify-content: center;
    }

    .title-box button {
        width: 30%;
    }

    .title,
    .subtitle {
        width: 50%;
    }

    .title {
        text-align: right;
        padding-right: .5em;
    }

    .login-form-block {
        width: 80%;
    }

    .inner-box {
        width: 45%;
    }

    .inner-box-login {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 775px) {

   .hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       clip: rect(0 0 0 0);
       clip-path: inset(50%);
       white-space: nowrap;
       overflow: hidden;
   }

    .search-input {
        width: 70%;
    }

    .search-button {
        width: 25%;
    }

}

@media screen and (max-width: 628px) {
    .links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .link {
        width: 38%;
        margin-bottom: 2em;
    }

    .link:nth-child(3),
    .link:nth-child(4) {
        margin-bottom: 0;
    }

    .link i {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

@media screen and (max-width: 562px) {

    .title {
        font-size: 1.5rem;
        padding-top: .25em;
        padding-bottom: .25em;
    }

    .login-form-section {
        padding: 4em 0 4em 0;
    }

    .title-box button {
        width: 70%;
    }

    .title-box .ui.primary {
        margin-right: 0;
        margin-bottom: .5em;
    }

    .title-box:last-child {
        flex-direction: column;
    }

    .form-login-inputs {
        flex-direction: column;
    }

    .form-login-input {
        width: 100%;
    }

    .subheader-items {
        flex-direction: column;
    }

    .subheader-inner {
        margin-bottom: 1.5em;
        margin-left: 0;
    }

    .menu-item {
        min-width: 190px;
        border-bottom: 1px solid silver;
    }

    .search-button {
        margin-right: 0;
        width: 30%;
    }

    .search-input {
        width: 60%;
    }
}

@media screen and (max-width: 450px) {

    .title {
        font-size: 1.25rem;
    }

    .subtitle {
        font-size: .75rem;
    }

    .subheader-inner:last-child {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        min-width: 125px;
    }

    .search-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: .5em;
    }

    .search-button {
        width: 100%;
    }

    .subheader-inner .ui.primary.button {
        margin-right: 0;
    }

    .login-form .ui.buttons {
        flex-direction: column;
    }

    .login-button {
        width: 100%;
    }

    .hidden-or {
        position: absolute;
        width: 1px;
        height: 1px;
        max-height: 10px;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        white-space: nowrap;
        overflow: hidden;
    }

    .link {
        width: 35%;
    }

    .link i {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .link-icon-box {
        margin-right: .25em;
    }



    .links {
        justify-content: space-between;
    }

    .footer-text {
        flex-direction: column;
        align-items: center;
    }

    .footer-text p:first-child {
        margin-bottom: .75em;
    }

}

@media screen and (max-width: 400px) {
    .hrefs {
        flex-wrap: wrap;
    }

    .link-icon-box:last-child {
        margin-top: .25em;
    }
}
