* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrap {
    max-width: 980px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

img {
    display: block;
    max-width: 100%;
}

header {
    background-color: #414141;
    padding: .75em;
}

footer {
    background-color: #414141;
    padding: .5em;
}

footer p {
    margin-bottom: 0;
    color: #bcbcbc;
    font-size: .75rem;
}

.header-in {
    display: flex;
    justify-content: space-between;
}

.subheader {
    box-shadow: 0 1px 3px gray;
    z-index: 1;
    position: relative;
    padding: 0 .75em 0 .75em;
}

.title-box {
    color: white;
    display: flex;
    align-items: center;
}

.title {
    font-size: 2rem;
    border-right: 1px solid #575757;
    padding-right: 1em;
}

.subtitle {
    color: #A5A2A5;
    border-left: 1px solid #2e2e2e;
    padding: .74em 0 .74em 1em;
}

.inner-box {
    display: flex;
    align-items: baseline;
}

.inner-box:first-child {
    border-right: 1px solid #575757;
    padding: .5em 1em .5em 0;
}

.inner-box:last-child {
    border-left: 1px solid #2e2e2e;
    padding: .5em 0 .5em 1em;
}

.subheader-inner {
    display: flex;
    margin-left: 1em;
}

.subheader-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-left {
    width: 20%;
}

.inner-right {
    width: 80%;
}

.menu-item {
    min-height: 78px;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    box-shadow: 0 0 1px lightgray inset;
    color: #47484c;
    cursor: pointer;
}

.menu-item:first-child {
    border-right: 0;
}

.menu-item i {
    margin-bottom: .25em;
    font-size: 1.25rem;
    color: #989898;
}

.menu-item p {
    font-weight: 600;
    text-align: center;
}

.active i {
    color: #2185D0;
}

.active {
    background-color: #F5F5F5;
}

.menu-item:hover {
    background-color: #F5F5F5;
}

.menu-item:hover i {
    color: #2185D0;
}

.page-title-section {
    background-color: #F7F3F7;
    z-index: -1;
    padding: 2.5em 1em 2.5em;
}

.page-title {
    font-size: 1.75rem;
    margin-bottom: .25em;
}

.page-path {
    font-size: .75rem;
}

.footer-links-section {
    background-color: #F2F2F2;
    padding: 2.5em;
    margin-top: auto;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link-title {
    font-size: 1.2rem;
}

.link ul {
    list-style: none;
}

.link ul li {
    font-size: .75rem;
    margin-bottom: .25em;
}

.link ul li:last-child {
    margin-bottom: 0;
}

.link i {
    font-size: 2rem;
    margin-right: 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
}

.link-icon-box {
    background-color: white;
    display: flex;
    margin-right: 1em;
    border-radius: 10%;
    box-shadow: 0 1px 3px silver;
}

.link i:hover {
    color: #2185D0;
}

.login-form-section {
    min-height: 45vh;
    display: flex;
    flex-direction: column;
}

.login-form-block {
    padding: 1.5em;
    background-color: #F2F2F2;
    max-width: 600px;
    width: 60%;
    margin: auto auto;
}

.login-form-title {
    font-size: 1.5rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-button {
    width: 30%;
}

.hrefs {
    display: flex;
    margin-bottom: 1em;
}

.ui.buttons .or:before {
    background-color: #F2F2F2;
}

.title-box .ui.primary {
    margin-right: 1.5em;
}

.search-input {
    display: inline-block;
    width: 79%;
    margin-right: 1em;
    background-color: #F3F3F3;
    padding: .25em;
}

.search-button {
    width: 20%;
    margin-right: 0;
}

.form-login-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.form-login-input {
    width: 48%;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

/* catalog page */

.catalog-section {
    padding: 0 1.25em 0 1.25em;
}

.catalog-section-in {
    display: flex;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    justify-content: space-between;
    align-items: flex-start;
}

.filter-section {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1em;
}

.filter {
    display: flex;
    flex-direction: column;
}

.filter-in {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.filter-in label {
    font-size: .8rem;
}

.filter-in .ui.dropdown,
.filter-in .ui.dropdown .item {
    font-size: .8rem;
}

.filter-in-flex {
    display: flex;
    justify-content: space-between;
}

.filter-in-in {
    width: 45%;
}

.filter-in-in .ui.input {
    max-width: 100%;
    font-size: .8rem;
}

.catalog {
    display: flex;
    flex-direction: column;
    width: 71%;
}

.pagination-block {
    margin-left: auto;
}

.pagination-block i {
    width: 100%;
    margin-right: 0;
}

.pagination-block .ui.pagination.menu .item {
    min-width: 1em;
}

.pagination-block .ui.menu .item > i.icon {
    margin-right: 0;
}

.catalog-items {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
}

.catalog-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 1em 0 1em 0;
}

.catalog-item:nth-child(odd) {
    border-top: 0;
    border-bottom: 0;
}

.catalog-item:first-child {
    border-top: 1px solid #e9e9e9;
}


.catalog-item-img-block {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-item-img {
    object-fit: contain;
    height: 100px;
}

.catalog-item-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-item-header,
.catalog-item-footer {
    display: flex;
    justify-content: space-between;
}

.catalog-item-main {
    display: flex;
}

.catalog-item-title {
    font-size: 1.15rem;
}

.catalog-item-price {
    color: #2185D0;
    font-size: .9rem;
    font-weight: 700;
}

.catalog-item-location {
    font-size: .8rem;
}

.catalog-item-footer p,
.catalog-item-main p,
.catalog-item-header p {
    margin-bottom: 0;
}

.catalog-item-main {
    background-color: #F2F2F2;
    padding: .5em 1.25em .5em 1.25em;
}

.catalog-item-punkt {
    font-size: .8rem;
    margin-right: 2.25em;
}

.catalog-item-href {
    color: #000;
    cursor: pointer;
    font-size: .8rem;
}

.catalog-item-href i {
    color: #2185D0;
}

.catalog-item-footer,
.catalog-item-header {
    align-items: center;
}

/* post offer page */

.input-block {
    margin-top: 2.5em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    flex-direction: column;
}

.post-offer-section {
    padding: 0 1em 0 1em;
}

.input-block-title {
    font-size: 1.75rem;
}

.input-block-in {
    display: flex;
    justify-content: space-between;
}

.input-block-inner {
    display: flex;
    flex-direction: column;
}

.input-block-inner label,
.input-block-inner .ui.form label {
    font-size: .8rem;
}

.required-color {
    color: #2185D0;
}

.input-block-inner .ui.dropdown,
.input-block-inner .ui.input {
    font-size: .8rem;
    width: 100%;
}

.input-block-inner .ui.dropdown .item {
    font-size: .8rem;
}

.input-block-inner {
    width: 32%;
}

.full-width {
    width: 100%;
}

.input-block-inner .ui.form .field textarea {
    width: 100%;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
}

.input-block-inner .ui.action.input input[type="file"] {
    display: none;
}

.input-block-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 2.5em 0 2.5em 0;
}

.input-block-buttons .primary {
    margin-right: 0;
}

/* index page */

.last-offers {
    display: flex;
    justify-content: space-between;
}

.left-offer {
    width: 70%;
    overflow: hidden;
    border-radius: 5px;
}

.right-offers {
    width: 28%;
}

.left-offer-info,
.right-offer-info {
    background-color: #414141;
    display: flex;
    color: white;
    justify-content: space-between;
}

.left-offer-info {
    padding: 1.5em;
    /*border-radius: 0 0 4px 4px;*/
}

.left-offer-info p {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 700;
}

.left-offer-price {
    color: #2185D0;
}

.left-offer-img {
    object-fit: cover;
    width: 100%;
    max-height: 600px;
    object-position: center;
    min-height: 100%;
    /*border-radius: 4px 4px 0 0;*/
}

.left-offer-img-block,
.right-offer-img-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-offer-img {
    object-fit: cover;
    max-height: 175px;
    width: 100%;
    min-height: 100%;
    /*border-radius: 4px 4px 0 0;*/
}

.right-offers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-offer-info {
    padding: .75em;
    /*border-radius: 0 0 4px 4px;*/
}

.right-offer-info p {
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: 700;
}

.right-offer-price {
    color: #2185D0;
}

.right-offer {
    overflow: hidden;
    border-radius: 5px;
}

.first-buttons {
    display: flex;
    justify-content: space-between;
    margin: 3em 0 3em 0;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 3em;
}

.main-button {
    width: 48%;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    padding: 1em;
}

.main-text p {
    margin-bottom: 0;
}

.main-search-button {
    margin-left: auto;
}

.search-icon {
    background-color: #2185D0;
    margin-right: 1em;
    border-radius: 5px;
}

.search-icon i {
    color: white;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
}

.main-text-title {
    font-size: 1.25rem;
}

.main-text-body {
    font-size: .8rem;
}

.main-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.main-link {
    width: 31%;
    display: flex;
    flex-direction: column;
}

.article-title {
    margin-bottom: 0;
    font-size: .85rem;
    font-weight: 600;
}

.article-more {
    font-size: .8rem;
    color: rgba(0, 0, 0, .87);
}

.article-more i {
    color: #2185D0;
}

.main-link-article:first-child {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.main-link-dealers {
    display: flex;
    flex-direction: column;
}

.main-link-dealer,
.dealer-left {
    display: flex;
}

.main-link-dealer {
    justify-content: space-between;
    min-height: 35px;
    padding: .5em;
    align-items: center;
}

.main-link-dealer:nth-child(odd) {
    background-color: #F4F4F4;
}

.main-link-dealer:nth-child(even) {
    background-color: #F9F9F9;
}

.main-link-title {
    font-size: 1.25rem;
}

.dealer-left i {
    font-size: .75rem;
    line-height: 16px;
    color: #2185D0;
    margin-right: .5em;
}

.dealer-name {
    font-size: .8rem;
    font-weight: 600;
}

.dealer-right {
    font-weight: 600;
    font-size: .85rem;
}

.daily-email {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: auto;
    align-items: flex-start;
}

.daily-email .ui.input {
    width: 100%;
}

.daily-email-note {
    font-size: .75rem;
    margin: 1.15em 0 1.15em 0;
    color: #a8a8a8;
}

.subscribe-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: normal;
}

.subscribe-email-counter {
    font-size: .75rem;
    font-weight: 600;
}

.flex-wrap {
    flex-wrap: wrap;
}

.register-page .input-block-inner {
    width: 49%;
}

.register-page .input-block-inner {
    margin-bottom: 1em;
}

.register-page .input-block-inner:nth-child(3),
.register-page .input-block-inner:nth-child(4) {
    margin-bottom: 0;
}

.main-section {
    padding: 0 1em 0 1em;
}

.main-button {
    display: flex;
}

.main-button-info {
    display: flex;
    align-items: center;
}

/* offer page */

.offer-section {
    margin-top: 2.5em;
}

.offer-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.id-text {
    font-weight: 600;
}

.offer-section-header {
    display: flex;
    justify-content: space-between;
}

.offer-section-header-img-block,
.offer-section-header-info {
    width: 48%;
}

.offer-section-img {
    margin-left: auto;
    object-fit: cover;
    min-height: 600px;
}

.offer-section-header-info {
    display: flex;
    flex-direction: column;
}

.offer-info-detail {
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

.offer-info-detail p {
    margin-bottom: 0;
    font-size: .85rem;
    width: 50%;
}

.offer-info-detail:nth-child(even) {
    background-color: #F9F9F9;
}

.offer-info-detail:nth-child(odd) {
    background-color: #F4F4F4;
}

.offer-price {
    font-weight: 600;
    font-size: 1.5rem;
    color: #2185D0;
}

.offer-detail-info {
    justify-self: center;
    font-weight: 600;
}

.similar-sell-block {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

.similar-sell-text {
    font-size: .9rem;
    font-weight: 700;
}

.similar-sell-block a {
    font-weight: 700;
}

.similar-sell-text,
.similar-sell-block a {
    width: 50%;
}

.offer-map {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.offer-map iframe {
    width: 100%;
    height: 360px;
    margin-top: auto;
}

.offer-map-title {
    font-size: 1.25rem;
}

.offer-section-main {
    margin-top: 1.5em;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 1.5em;
}

.offer-section-main-title {
    font-size: 1.25rem;
}

.offer-section-main-text {
    white-space: pre-line;
}

.contact-detail-icon i {
    background-color: #2185D0;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.25rem;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-detail {
    display: flex;
    width: 46%;
    margin-bottom: 1.5em;
    align-items: center;
}

.contact-detail:last-child,
.contact-detail:nth-child(3) {
    margin-bottom: 0;
}

.contact-detail-text {
    font-size: .8rem;
    margin-left: 1em;
}

.other-offers {
    display: flex;
    justify-content: space-between;
}

.offer-page {
    width: 22%;
}

.offer-page .right-offer-price,
.offer-page .right-offer-title {
    font-size: .7rem;
}

.offer-section {
    padding: 0 1em 0 1em;
}

/* profile page */

.profile-in .ui.header {
    font-size: 1rem;
}

.profile-section {
    width: 71%;
}

.profile-page-title {
    font-size: 1.15rem;
    margin-bottom: 1.5em;
}

.profile-title {
    font-size: 1rem;
    font-weight: 400;
}

.profile-in {
    margin-bottom: 1.75em;
}

.profile-text {
    margin-bottom: .25em;
    font-size: .8rem;
}

.profile-text:last-child {
    margin-bottom: 0;
}

.profile-text b {
    font-weight: 550;
}

.profile-information-in {
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}

.profile-icon-box i {
    background-color: #2185D0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    margin-right: .5em;
}

.ui.top.attached.tabular.menu .item {
    font-family: 'Montserrat', sans-serif;
}

.ui.top.attached.tabular.menu {
    display: flex;
}

/* profile edit */

.ui.modal>.change-password-header {
    font-family: 'Montserrat', sans-serif;
}

.profile-edit .input-block-inner:first-child {
    margin-bottom: 1em;
}

.change-password {
    width: 100%;
}

.change-password label {
    margin-bottom: .5em;
}

.change-password label,
.change-password input {
    font-size: 1rem;
}

.change-password .ui.input {
    width: 100%;
}

.profile-edit .input-block-inner:last-child {
    margin-right: auto;
    margin-left: 1.5em;
}

/* order section */

.order-section {
    margin-top: 2.5em;
    padding: 0 1em 0 1em;
    margin-bottom: 2.5em;
}

.order-instruction {
    padding-left: 1.25em;
}

.order-information {
    display: flex;
    flex-direction: column;
}

.order-information .ui.items {
    margin-top: 0;
}

.order-information .ui.green.button {
    margin-top: 1em;
    margin-left: auto;
}

/* media queries */

@media screen and (max-width: 990px){

    .header-in {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .title-box {
        margin-bottom: 1.5em;
        width: 100%;
        justify-content: center;
    }

    .title-box button {
        width: 30%;
    }

    .title,
    .subtitle {
        width: 50%;
    }

    .title {
        text-align: right;
        padding-right: .5em;
    }
}


@media screen and (max-width: 960px){
    .offer-page .right-offer-info p {
        font-size: .65rem;
    }
}



@media screen and (max-width: 900px){

    .offer-page .right-offer-info p {
        font-size: 1rem;
    }

    .other-offers {
        flex-wrap: wrap;
    }

    .offer-page {
        width: 48%;
        margin-bottom: 2.5em;
    }

    .offer-page .right-offer-img {
        max-height: 325px;
    }
}

@media screen and (max-width: 850px) {
    .header-in {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .title-box {
        margin-bottom: 1.5em;
        width: 100%;
        justify-content: center;
    }

    .title-box button {
        width: 30%;
    }

    .title,
    .subtitle {
        width: 50%;
    }

    .title {
        text-align: right;
        padding-right: .5em;
    }

    .login-form-block {
        width: 80%;
    }

    .inner-box {
        width: 45%;
    }

    .inner-box-login {
        display: flex;
        justify-content: flex-end;
    }

    .catalog-section-in {
        flex-direction: column;
    }

    .filter-section,
    .catalog {
        width: 100%;
    }

    .filter-section {
        margin-bottom: 2.5em;
    }

    .pagination-block {
        margin: 0 auto 0 auto;
    }

    .filter-in:nth-child(2) .filter-in-in {
        width: 48.5%;
    }

    .filter-in:nth-child(2) .ui.input {
        width: 100%;
    }

    .last-offers {
        flex-direction: column;
    }

    .left-offer,
    .right-offers {
        width: 100%;
    }

    .right-offer-img {
        min-height: 600px;
    }

    .right-offer-info p {
        font-size: 1.25rem;
    }

    .right-offer {
        margin-bottom: 2em;
    }

    .left-offer {
        margin-bottom: 2em;
    }

    .right-offer-info {
        padding: 1.5em;
    }

    .offer-map iframe {
        height: 325px;
    }

    .offer-page {
        width: 48%;
    }

    .offer-page .right-offer-img {
        min-height: 100px;
        max-height: 300px;
    }

    .profile-section {
        width: 100%;
    }

    .hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        white-space: nowrap;
        overflow: hidden;
    }

    .search-input {
        width: 70%;
    }

    .search-button {
        width: 25%;
    }

}

@media screen and (max-width: 778px) {

    /*.hidden {*/
    /*    position: absolute;*/
    /*    width: 1px;*/
    /*    height: 1px;*/
    /*    clip: rect(0 0 0 0);*/
    /*    clip-path: inset(50%);*/
    /*    white-space: nowrap;*/
    /*    overflow: hidden;*/
    /*}*/

    /*.search-input {*/
    /*    width: 70%;*/
    /*}*/

    /*.search-button {*/
    /*    width: 25%;*/
    /*}*/

    .inner-right {
        width: 70%;
    }

    .catalog-item-title {
        font-size: 1rem;
    }

    .main-links {
        flex-direction: column;
    }

    .main-link {
        width: 100%;
        margin-bottom: 2em;
    }

    .main-link:last-child {
        margin-bottom: 0;
    }

    .first-buttons {
        flex-direction: column;
    }

    .main-button,
    .main-search-button .ui.button {
        width: 100%;
    }

    .main-button {
        margin-bottom: 1em;
    }

    .main-button:last-child {
        margin-bottom: 0;
    }

    .offer-section-header-img-block {
        width: 60%;
    }

    .offer-section-header-info {
        width: 35%;
    }

    .similar-sell-text,
    .similar-sell-block a {
        width: 100%;
    }

    .similar-sell-block {
        flex-direction: column;
        margin-bottom: 1em;
    }

    .offer-page .right-offer-info p {
        font-size: .8rem;
    }

}

@media screen and (max-width: 628px) {
    .links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .link {
        width: 38%;
        margin-bottom: 2em;
    }

    .link:nth-child(3),
    .link:nth-child(4) {
        margin-bottom: 0;
    }

    .link i {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .inner-right {
        width: 65%;
    }

    .input-block:first-child .input-block-in {
        flex-direction: column;
    }

    .input-block:first-child .input-block-inner {
        width: 100%;
        margin-bottom: 1em;
    }

    .input-block .input-block-inner {
        width: 100%;
    }

    .input-block:first-child .input-block-inner:last-child {
        margin-bottom: 0;
    }

    .register-page .input-block-inner:nth-child(3) {
        margin-bottom: 1em;
    }

    .offer-section-header {
        flex-direction: column;
    }

    .offer-section-header-img-block,
    .offer-section-header-info {
        width: 100%;
    }

    .offer-section-header-img-block {
        margin-bottom: 2em;
    }

    .offer-section-img {
        margin: 0 auto;
    }

    .similar-sell-block {
        flex-direction: row;
    }

    .profile-edit .input-block-inner:last-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 571px) {

    .title {
        font-size: 1.5rem;
        padding-top: .25em;
        padding-bottom: .25em;
    }

    .login-form-section {
        padding: 4em 0 4em 0;
    }

    .title-box button {
        width: 70%;
    }

    .title-box .ui.primary {
        margin-right: 0;
        margin-bottom: .5em;
    }

    .title-box:last-child {
        flex-direction: column;
    }

    .form-login-inputs {
        flex-direction: column;
    }

    .form-login-input {
        width: 100%;
    }

    .subheader-items {
        flex-direction: column;
    }

    .subheader-inner {
        margin-bottom: 1.5em;
        margin-left: 0;
    }

    .menu-item {
        min-width: 190px;
        border-bottom: 1px solid silver;
    }

    .search-button {
        margin-right: 0;
        width: 30%;
    }

    .search-input {
        width: 60%;
    }

    .inner-right,
    .inner-left {
        width: 100%;
        justify-content: center;
    }

    .catalog-item-title {
        font-size: .9rem;
    }

    .catalog-item-price {
        font-size: .7rem;
    }

    .offer-page .right-offer-img {
        max-height: 200px;
    }

    .contact-detail {
        width: 100%
    }

    .contact-detail:nth-child(3) {
        margin-bottom: 1.5em;
    }

    .offer-page .right-offer-info p {
        font-size: .7rem;
    }

    .offer-page .right-offer-info {
        padding: 1em;
    }

    .ui.top.attached.tabular.menu {
        flex-direction: column;
    }

    .ui.top.attached.tabular.menu .active {
        border-bottom: 1px solid #d4d4d5;
    }

    .ui.top.attached.tabular.menu .item {
        border-left: 1px solid #d4d4d5;
        border-right: 1px solid #d4d4d5;
    }

    .ui.top.attached.tabular.menu .item:first-child {
        border-top: 1px solid #d4d4d5;
    }

    .ui.segment[class*="bottom attached"] {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 505px) {

    .catalog-item {
        flex-direction: column;
    }

    .catalog-item-img-block,
    .catalog-item-info {
        width: 100%;
    }

    .catalog-item-img-block {
        margin-bottom: 1em;
    }

    .catalog-item-main {
        margin: 1em 0 1em 0;
    }

    .catalog-item-img {
        width: 100%;
        height: 100%;
    }

    .right-offer-info p,
    .left-offer-info p {
        font-size: 1rem;
    }

    .offer-page .right-offer-info p {
        font-size: .6rem;
    }

}

@media screen and (max-width: 450px) {

    .title {
        font-size: 1.25rem;
    }

    .subtitle {
        font-size: .75rem;
    }

    .subheader-inner:last-child {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        min-width: 125px;
    }

    .search-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: .5em;
    }

    .search-button {
        width: 100%;
    }

    .subheader-inner .ui.primary.button {
        margin-right: 0;
    }

    .login-form .ui.buttons {
        flex-direction: column;
    }

    .login-button {
        width: 100%;
    }

    .hidden-or {
        position: absolute;
        width: 1px;
        height: 1px;
        max-height: 10px;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        white-space: nowrap;
        overflow: hidden;
    }

    .link {
        width: 35%;
    }

    .link i {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .link-icon-box {
        margin-right: .25em;
    }

    .links {
        justify-content: space-between;
    }

    .footer-text {
        flex-direction: column;
        align-items: center;
    }

    .footer-text p:first-child {
        margin-bottom: .75em;
    }

    .catalog-item-header {
        flex-direction: column;
    }

    .catalog-item-title {
        margin-bottom: .5em;
    }

    .catalog-item-price {
        font-size: .9rem;
    }

    .pagination-block .item {
        font-size: .8rem;
    }

    .main-button {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-search-button {
        margin-left: 0;
        width: 120px;
    }

    .main-button-info {
        margin-bottom: 1.25em;
    }

    .offer-page .right-offer-info p {
        font-size: 1rem;
    }

    .other-offers {
        flex-wrap: wrap;
    }

    .offer-page {
        width: 100%;
    }

    .offer-page .right-offer-img {
        max-height: 400px;
    }

    .offer-section-img {
        object-fit: contain;
        min-height: unset!important;
    }

    .menu-item p {
        font-size: .75rem;
    }

    .similar-sell-block {
        flex-direction: column;
    }

}

@media screen and (max-width: 400px) {
    .hrefs {
        flex-wrap: wrap;
    }

    .link-icon-box:last-child {
        margin-top: .25em;
    }

    .input-block-buttons {
        display: flex;
        flex-direction: column;
    }

    .input-block-buttons button:first-child {
        margin-bottom: .5em;
        margin-right: 0;
    }

    .catalog-item-title {
        font-size: .8rem;
    }

    .catalog-item-price {
        font-size: .75rem;
    }
}

@media screen and (max-width: 350px) {
    .right-offer-info p,
    .left-offer-info p {
        font-size: .9rem;
    }

    .offer-page .right-offer-info p {
        font-size: .9rem;
    }

    .offer-header {
        flex-direction: column;
    }

    .offer-header-info {
        order: 2;
    }

    .offer-header-id {
        margin-bottom: 1.5em;
        order: 1;
    }

    .order-information .ui.green.button {
        margin: 0 auto;
    }
}

/* 98 test */

.ui.dropdown.dropdown98 {
    font-size: 12px;
    background: silver;
    border: 1.8px outset #fff;
    border-radius: 0;
    box-shadow: 1.5px 1.5px #000;
    width: 40px;
    font-family: 'W95FA', sans-serif;
    min-height: 2vh;
    text-align: center;
}

.ui.dropdown .menu.menu98 {
    font-size: 12px;
    background: silver;
    border: 1.8px outset #fff;
    border-radius: 0;
    box-shadow: 1.5px 1.5px #000;
    width: 30px;
    font-family: 'W95FA', sans-serif;
    transition: 0s;
    margin-top: .3em;
    margin-left: -.15em;
}

.ui.dropdown .menu>.item.item98 {
    font-size: 12px;
    color: #212529;
    font-weight: 400;
    border: 0;
    background-color: transparent;
    padding: .5em!important;
    font-family: 'W95FA', sans-serif;
}

.ui.dropdown .menu>.item.item98:hover {
    background-color: #B6B6B6;
}

.admin-menu {
    display: flex;
}
